.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* App.css */
.main-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.product-list-container {
  flex: 1;
  margin-right: 20px;
}

.cart-container {
  width: 300px; /* Adjust width as needed */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* App.css or Header.css */
.header {
  background-color: #1f6bb7; /* Dark background */
  color: #fff; /* White text color */
  padding: 10px 20px; /* Padding around the content */
  text-align: center; /* Center the header content */
  font-size: 24px; /* Larger font size */
}
